<div  class="container mt-5 pt-2">
  <div class="d-flex justify-content-center">
    <div class="align-self-center text-center bg-white shadow-lg w-100">
      <h1><%=current_user.username.strip%>'s Bookmarks</h1>
    </div>
  </div>
  <div class="container p-1">
    <% if @bookmarks.present? %>
      <% @bookmarks.each do |bookmark| %>
        <%# enclose the entire div as a link to the bookmark website %>
        <a class="d-block text-decoration-none text-dark" href="<%= bookmark.url if bookmark.url.present? %>" target="_blank">
          <div data-controller="read">
            <%= render 'bookmark_card', bookmark: bookmark %>
          </div>
        </a>
      <% end %>
    <% else %>
      <div class="d-flex justify-content-center">
        <div class="align-self-center text-center bg-white shadow-lg w-100">
          <h2>You have no bookmarks yet!</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
