<div class="checkbox mb-3 mt-3">
  <div class="form-check">
    <input autocomplete="off" name="bbc" type="hidden" value="0">
    <input class="form-check-input" id="bbc" name="bbc" type="checkbox" value="1" checked data-action="change->toggle#bbc">
    <label class="form-check-label" for="bbc">BBC</label>
  </div>
</div>
<div class="checkbox mb-3 mt-3">
  <div class="form-check">
    <input autocomplete="off" name="politico" type="hidden" value="0" >
    <input class="form-check-input" id="politico" name="politico" type="checkbox" value="1" checked data-action="change->toggle#politico">
    <label class="form-check-label" for="politico">Politico</label>
  </div>
</div>
<div class="checkbox mb-3 mt-3">
  <div class="form-check">
    <input autocomplete="off" name="al_jazeera" type="hidden" value="0" >
    <input class="form-check-input" id="al_jazeera" name="al_jazeera" type="checkbox" value="1" checked data-action="change->toggle#al_jazeera">
    <label class="form-check-label" for="al_jazeera">Al Jazeera</label>
  </div>
</div>
<div class="checkbox mb-3 mt-3">
  <div class="form-check">
    <input autocomplete="off" name="nyt" type="hidden" value="0">
    <input class="form-check-input" id="nyt" name="nyt" type="checkbox" value="1" checked data-action="change->toggle#nyt">
    <label class="form-check-label" for="nyt">NYT</label>
  </div>
</div>
