<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= article.image %>)">
  <a href="<%= article.link if article.link.present? %>" target="_blank" style="color: white !important;"> <%= article.title[..50] %>...</a>
</div>
