<div class="card-category" <%=  content_tag :div '', style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#{article.image}');", nonce: true %>>
  <a href="<%= article.link if article.link.present? %>" target="_blank" <%=  content_tag :a '', style:"color: white !important;", nonce: true %>> <%= article.title[..50] %>...</a>
  </div>
