<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <h2>Search across the following news websites</h2>
  </div>
</div>
<div class="d-flex justify-content-center">
  <ul>
    <li>BBC</li>
    <li>Politico</li>
    <li>Al Jazeera</li>
    <li>NYT</li>
    <li>Japan Times</li>
  </ul>
</div>
<div class="d-flex justify-content-center">
  <div class="align-self-center">
    <h2>Today's Top Headlines from Google</h2>
  </div>
</div>
