<%# landing page banner %>
<div class="landing w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('https://unsplash.com/photos/aB4BJSZoTTI');">
  <%# navbar %>
  <%# <%= render "shared/navbar" %>
  <%# typing text %>
  <div id="typed-text">
    <script>
      typed = new Typed('#typed-text', {
        strings: [
          "<h1><span class='un'>NEWS</span> crape</h1>",
          "<h1><span class='un'>NEWS</span> crape</h1>",
          "<h1><span class='un'>NEWS</span> peak</h1>",
          "<h1><span class='un'>NEWS</span> how</h1>"
        ],
        typeSpeed: 200,<%# navbar %>
        backSpeed: 25,
        startDelay: 100,
        loop: true,
        showCursor: false,
        contentType: 'html'
      });
    </script>
  </div>
  <%# search bar start%>
  <div class="search-bar">
    <%# dropdown starts %>
    <%# <div class="dropdown-full">
      <div class="dropdown-text">
        <span>All</span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <%# <ul class="dropdown-list">
        <li class="dropdown-list-item">All</li>
        <li class="dropdown-list-item">Business</li>
        <li class="dropdown-list-item">Party</li>
        <li class="dropdown-list-item">Holiday</li>
        <li class="dropdown-list-item">Wedding</li>
        <li class="dropdown-list-item">Casual</li>
        <li class="dropdown-list-item">Others</li>
      </ul> %>
    <%# </div> %>
    <%# dropdown ends %>
    <%# searchbox input starts %>
    <div class="search-box">
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <input type="text" name="search[query]" id="search_query" placeholder="Search..." />
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
      <% end %>
    </div>
    <%# searchbox input ends %>
  </div>
</div>
