<div data-controller="application" class="container p-5">
  <div data-controller="pie">
    <h2>News Ratio</h2>
    <div data-action="onload->pie#connect" class="chart" id="pie">
      <canvas data-pie-target='pie'>
        <!-- TODO: Display pie chart below -->
      </canvas>
    </div>
  </div>
</div>
