<div class="container p-2" >
  <div class="chuck" data-controller="chuck">
    <div class="shadow p-3 mt-5 bg-white rounded">
      <div class="parent">
        <div class="title text-center">
          <h2><%= Date.today.strftime('%A, %e %B %Y') %></h2>
          <h6>On this day in <%= @year %>, <%= @fact %></h6>
          <div class="d-flex justify-content-center mt-3">
            <div class="align-self-center chuck-button" data-chuck-target='button'>
              <button type="button" class="btn btn-primary"  data-action="click->chuck#fire">Chuck!</button>
            </div>
          </div>
          <div class="mt-3" id="chuckfact" data-chuck-target='chuckfact'>
          </div>
          <div class="mt-3" id="chuck" data-chuck-target='chuck'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
