<div class="container mt-5 pt-3">
  <div class="d-flex">
  <h1>Chatrooms</h1>
  <% link_to new_chatroom_path do %>
    <button class="btn btn-primary">+Add Chatroom+</button>
  <% end %>
  </div>
  <div class="chatrooms">
    <% if @chatrooms.present? %>
      <% @chatrooms.each do |chatroom| %>
        <h2><%= link_to "##{chatroom.name}", chatroom_path(chatroom)%></h2>
      <% end %>
    <% else %>
      <h1>No chatrooms yet - be the first to create one!</h1>
      <% link_to new_chatroom_path do %>
    <button class="btn btn-primary">+Add Chatroom+</button>
  <% end %>
    <% end %>
  </div>
</div>
