<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Mulpy" target="_blank"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
    <a href="https://troopl.com/garyt" target="_blank"><i class="fa-solid fa-rocket"></i></a>
    <%# <a href="#"><i class="fab fa-facebook"></i></a> %>
    <a href="https://twitter.com/Mulpy101" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/gary-topping" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Do you <a href="https://news.google.com/home?hl=en-US&gl=US&ceid=US:en" target="_blank"><i class="fas fa-heart"></i></a> the news?
  </div>
</div>
