.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats {
  position: sticky;
  top: 16px;
}

img {
  height: 64px;
  width: 64px;
}

body {
  background-image: url("https://unsplash.com/photos/R-js25Pv1LQ");
  background-size: cover;
  background-position: center;
}
