.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 64px;
  width: 64px;
}

body {
  // // background-image: url("https://wallpapercave.com/wp/wp3396911.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: whitesmoke;
  font-size: 12px;
}

.full-width {
  width: 100%;
}

.item {
  flex: 1 0 50%;
}

// Media queries----------------------------------------------

@media (max-width: 992px) {
  body {
    font-size: 10px;
  }

  .parent {
    flex-direction: column;
  }

  .item {
    flex-basis: 100%;
  }

  .card {
    width: 100%;
  }

  img {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 8px;
  }

  .parent {
    flex-direction: column;
  }

  .item {
    flex-basis: 100%;
  }

  .card {
    width: 100%;
  }

  img {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 8px;
  }

  .card {
    width: 100%;
  }

  img {
    height: 30px;
    width: 30px;
  }
}
