.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 64px;
  width: 64px;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp3396911.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .dark {
//   background-color: #333;
//   color: #fff;
// }

// .container {
//   display: flex;
//   flex-wrap: wrap;
// }

.item {
  flex: 1 0 50%;
}

@media (max-width: 768px) {
  .parent {
    flex-direction: column;
  }

  .item {
    flex-basis: 100%;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
