// @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kavivanar&family=Solitreo&family=Tapestry&family=Tillana:wght@600&display=swap');

:root {
  --option1: #2F6690;
  --option2: #3A7CA5;
  --option3: #D9DCD6;
  --option4: #16425B;
  --option5: #81C3D7;
}

.landing {
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 1500px;
  padding: 10px 0px;
  margin: 0 auto;
}

.landing h1,
.landing h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 75px;
  font-family: 'Bangers', cursive;
  font-weight: bold;
}

.landing p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.un {
  font-size: 150px;
  color: #81C3D7;
  font-family: 'Bangers', cursive;
}

#typed-text {
  display: flex;
  align-items: center;
  height: 300px;
  margin-left: 80px;
  margin-top: 50px;
}

.discount-bar {
  background-color: var(--option4);
  color: white;
  padding: 5px 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}
