.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  font-size: large;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// media queries

@media (max-width: 768px) {
  .navbar-lewagon .navbar-brand img {
    width: 30px;
  }
}

@media (max-width: 576px) {
  .navbar-lewagon .navbar-brand img {
    width: 25px;
  }
}
